<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <h1>Search Engine</h1>

    <form action="/search" method="POST" enctype="multipart/form-data">
        <input type="text" name="searchInput" id="" placeholder="Enter you search term">
        <button type="submit">Search</button>
    </form>

    <p>
        {% if search_text %}
        You searched for: {{ search_text }}
        {% endif %}
    </p>
</body>
</html>